.chat-container {
  width: 1000px;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
}

.chat-container .chat-character .character-picture {
  border-radius: 50%;
}

.chat-container .chat-character .character-name {
  margin-left: 50px;
}

.chat .chat-message-list {
  display: flex;
  flex-direction: column;
  max-height: 470px;
  margin-top: 10px;
  padding: 20px;
  height: 75%;
  max-height: 500px;
  overflow-y: auto;
}

.returnChat {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btnChat {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-returnApikey {
  background-color: #383c37;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  top: 200px;
  font-family: Roboto Condensed;
  cursor: pointer;
}

#person-consult {
  width: 80%;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 45%;
  margin-left: 20px;
  resize: none; /* Evita que el usuario pueda redimensionar el textarea */
  background-color: #ffbd59;
}
#sendButton {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.sendMessage {
  border-radius: 10px;
}

.chat-character {
  display: flex;
  align-items: center;
}

.chat .character-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#chat-input {
  display: flex;
  align-items: flex-end;
}

.btn-send {
  background-color: transparent;
  padding: 0px;
  border: none;
}

.btn-send img {
  width: 35px;
  height: 35px;
}

.message-input {
  position: relative;
}

.chat .chat-message-list .message {
  margin-bottom: 10px;
  padding: 20px;
  color: white;
  width: 60%;
  max-width: 600px;
}

.chat .chat-message-list .message.received {
  background-color: #4c4c4c;
}

.chat .chat-message-list .message.sent {
  background-color: #dba008;
  align-self: end;
}

.chat .chat-input textarea {
  width: 90%;
  height: 80px;
  font-size: 18px;
  padding: 20px;
}

.chat .chat-input .btn-send-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

@media screen and (max-width: 768px) {
  .chat {
    width: 100vw;
    overflow-y: auto;
  }

  .chat-container {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 30px 15px;
  }

  .btnChat {
    padding: 0px 25px;
    width: auto;
  }

  .chat .chat-character .character-picture {
    width: 80px;
    height: 80px;
  }

  .chat .chat-character .character-name {
    margin-left: 30px;
    font-size: 22px;
  }

  .chat .chat-message-list {
    height: 430px;
  }

  .chat .chat-message-list .message {
    width: 70%;
    padding: 10px;
  }

  .chat .chat-input .chat-message-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chat .chat-input textarea {
    font-size: 16px;
    height: 50px;
    padding: 10px;
    width: 85%;
  }

  .chat .chat-input .btn-send-container {
    width: 15%;
  }

  #chatfondo {
    width: 400px;
    height: 600px;
    margin: auto;
  }

  .btn-send img {
    width: 20px;
    height: 20px;
  }
}
