#chat-Container {
    width: 1000px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 50px;
    margin: auto;
    margin-top: 50px; 
    
}
#chat-Container .profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.returnChat{
    border-radius: 10px;
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer; 
}

.sendMessage {
    border-radius: 10px;
}

#chat-character {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    align-items: center;
}

#chat-input {
    display: flex;
    align-items: flex-end;
}

.btn-send {
    background-color: transparent;
    padding: 0px;
}

.btn-send img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 768px) {

#chatfondo{
    width: 400px;
    height: 600px;
    margin: auto;
}
}
