.background-chat {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  max-height: 800px;
  box-shadow: 0 -2px 5px rgba(219, 160, 8, 0.8);
}
h2 {
  display: block;
  margin-inline-start: 30px;
}

#group-image-chat {
  display: flex;
  justify-content: flex-start;
  font-size: 23px;
  background-color: rgba(219, 160, 8, 0.8);
  padding: 9px;
  border-radius: 10px 10px 0 0;
  padding-right: 100px;
  z-index: 1;
}
#group-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.character-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.character-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.character-name {
  font-weight: bold;
}

.chat-message-form-group {
  display: flex;
}

#message-input-group {
  resize: none; /* No cambia el tamaño del textarea */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 85%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  bottom: 80px;
  left: 380px;
  background-color: white;
}

.btn-send-container-group {
  display: flex;
  justify-content: flex-end;
}

.btn-send-group {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
}

#send-group {
  height: 50px;
  width: 50px;
  margin-left: 40px;
  background-color: transparent;
  cursor: pointer;
}

.chat-message-list-group {
  margin-top: 119px;
  padding: 20px;
  height: 280px;
  overflow-y: auto;
}

.chat-message-list-group .message {
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.chat-message-list-group .message.received {
  background-color: #4c4c4c;
  align-self: flex-start; /* Alinea a la izquierda */
  text-align: left;
  color: azure;
}

.chat-message-list-group .message.sent {
  background-color: #dba008;
  align-self: flex-end; /* Alinea a la derecha */
  text-align: right;
  margin-left: 300px;
}

.chat-input .chat-message-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-input textarea {
  width: 85%;
}

.chat-input .btn-send-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

@media screen and (max-width: 768px) {
  .background-chat {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    height: 650px;
    width: 80%;
  }

  #group-image {
    height: 90%;
    padding: 0px 15px;
  }

  #group-image-chat {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(219, 160, 8, 0.8);
    padding: 9px;
    border-radius: 10px 10px 0 0;
  }

  #message-input-group {
    resize: none;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 5px;
    width: 80%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }

  .btn-send-container-group {
    display: flex;
    align-items: flex-end;
  }

  .btn-send-group {
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #send-group {
    height: 50px;
    width: 50px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 350px;
    margin-left: 250px;
  }
}
