@media screen and (max-width: 768px) {
    header {
        text-align: center;
        padding: 7px 0;
    }
    .check {
        display: none;
    }
   /* .titulo {
        background-color: beige;
    } */
    
    .titulo img {
        max-width: 150px;
        margin-left: 10px;
    }

    .buho {
        display: none;
    }
    
    .check {
        background-color: initial;
        cursor: default;
        appearance: auto;
        box-sizing: border-box;
        margin: 3px 3px 3px 4px;
        padding: initial;
        border: initial;
    }
     
    .checkbtn {
        display: block;
        cursor: pointer;
        float: right; 
        margin-right: 20px;
        margin-top: 20px;
        }
    
    
    .checkbtn img {
        background-color: #ccc;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 24px;
        height: auto;
    }

}