/* @media screen and (max-width: 768px) {
    .navigation {
        display: none; 
    } 
    
    .navigation.show {
        display: block; 
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFBD59;
        height: 100%;
        width: 80%;
        position: fixed;
        top: 0;
        right: -100%;
        margin: 0px;
        padding: 0px;
        transition: all .3s ease;
        text-align: left;
        border-radius: 20px;
        color: white;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.9);
        justify-content: center;
        font-family: 'londrina';
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        
    }

    .navigation .filtro {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 5px 0px;
        margin-bottom: 8px;
    }

    .check:checked ~ .navigation,
    .check:checked ~ .navigation .buho {
        right: 0;
    } 

    .cerrar-button {
        display: block;
        font-family: auto;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 32px;
    }

    .navigation button {
        margin-top: 20px;
    }

    .label-filtro {
        font-size: 22px;
        margin-bottom: 8px;
    }
} */