body {
    margin: 0;
    padding: 0;
    background-image: url("../img/fondo_de_harry_potter.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}
