@import "header.css";
@import "navigation.css";
@import "footer.css";
@import "card.css";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@font-face {
   font-family: 'londrina';
   src: url('../fonts/LondrinaSolid-Regular.ttf') format('truetype');
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        background-image: url("../img/fondo_de_harry_potter.jpg"); 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
    }
}